<!-- Footer -->
<footer>
    <div class="container footer-content">
        <div class="footer-logo">Manfred Rohrer Band</div>
        <div class="socials">
            <!--TODO: links aktualisieren-->
            <a href="https://www.instagram.com/rohrermanfred/">Instagram</a><br>
            <span>Telefon: 0157 79742750</span> <br>
            <span>E-Mail: manfred-rohrer@web.de</span>
            <!--<a href="#">Spotify</a>-->
            <!--<a href="#">YouTube</a>-->
        </div>
        <div class="legal">
            <!--<a href="impressum.html">Impressum</a>-->
            <!--<a href="datenschutz.html">Datenschutz</a>-->
        </div>
        <p class="copyright">&copy; 2025 Manfred Rohrer Band. All Rights Reserved.</p>
    </div>
</footer>